<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <title>Shared Bookmarks</title>
</head>

<body>
    {{#each posts}}
        <p><a href="{{url}}">{{title}}</a> {{created}}</p>
    {{/each}}
</body>
</html>